{% assign min = 1 %}
{% assign max = 999999 %}
{% assign diff = max | minus: min %}

{% assign rbrace = "}" %}
{% assign lbrace = "{" %}

{% assign randomNumber = include.endpoints | remove: "," | truncate: 50, '' %}
{% assign endpoints = include.endpoints | split: "," %}


{% capture endpointprops%}{% include thirdpartyproperties.html 
    disableSearch="true"
    disablePagination="true"
    id=randomNumber 
    thirdPartyStartsWith="management.endpoints" %}{%endcapture%} 

<div class="accordion" id="{{ randomNumber }}">
    {% assign showClass = "" %}

    {% for endpoint in endpoints %}

        {% for configblock in site.data[version].actuators[endpoint] %}
        {% assign config = configblock[1] | sort: "method" %}

            {% for cfg in config %}

            {% assign key = cfg.path
                | append: cfg.method
                | remove: "["
                | remove: "]"
                | remove: '"'
                | remove: '/'
                | remove: '$'
                | remove: rbrace
                | remove: lbrace %}

            <h7 class="accordion-header" id="heading{{key}}">
                <button
                    {% if showClass contains "show" %}
                    class="accordion-button"
                    {% else %}
                    class="accordion-button collapsed"
                    {% endif %}
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{key}}"
                    {% if showClass contains "show" %}aria-expanded="true" {% endif %}
                    style="height: 40px; padding-top: 30px; border-radius: 6px;"
                    aria-controls="collapse{{key}}">
                    <table style="border: none;">
                        <tr>
                            <td style="width: 6%; border-bottom:none;">
                                
                                {% if cfg.method == "DELETE" %}
                                <span class="badge bg-danger">
                                {% elsif cfg.method == "GET" %}
                                <span class="badge bg-primary">
                                {% elsif cfg.method == "POST" %}
                                <span class="badge bg-success">
                                {% else %}
                                <span class="badge bg-secondary">
                                {%endif %}

                                {% if cfg.casEndpoint == true %}
                                <i class="fas fa-copyright"></i>
                                {% else %}
                                <i class="fab fa-codepen"></i>
                                {% endif %}

                                {{ cfg.method }} </span>
                            </td>
                            <td style="border-bottom:none;"><span><code>/cas/actuator/{{ cfg.path }}</code>
                            <sup>
                                {% if cfg.casEndpoint == true %}
                                    <img class="undecorated img-fluid" 
                                        width="42px" 
                                        src="../../images/cas-sm.png" 
                                        data-bs-toggle="tooltip" data-bs-placment="top" 
                                        data-bs-html="true" title="This endpoint is owned, provided and controlled by CAS." 
                                        class="fas fa-copyright">
                                {% else %}
                                    <i data-bs-toggle="tooltip" data-bs-placment="top" 
                                        data-bs-html="true" title="This endpoint is provided by a third-party framework to CAS." 
                                        class="fas fa-codepen"></i>
                                {% endif %}
                            </sup>
                            </span></td>
                        </tr>
                    </table>
                </button>
            </h7>

            <div id="collapse{{key}}" class="accordion-collapse collapse {{ showClass }}"
                aria-labelledby="heading{{key}}"
                data-bs-parent="#{{ randomNumber }}">
                <div class="accordion-body">
                    <p class="small text-left">
                        {% if cfg.summary.size > 0 %}
                            {{cfg.summary}}
                        {% else %}
                            {% unless cfg.casEndpoint == true %}
                            There is no documentation available for this endpoint. The functionality presented here is provided to CAS 
                            via a third-party library or framework, which provides no documentation as part of endpoint definition's metadata.
                            {% endunless %}
                        {% endif %}
                    </p>

                    <table style="table-layout: fixed;">
                        <tr>
                            {% if cfg.returnType.size > 0 %}
                            <td><i data-bs-toggle="tooltip" data-bs-placment="top" 
                                data-bs-html="true" title="Return Type" 
                                class="fas fa-exchange-alt"></i> <code>{{cfg.returnType}}</code></td>
                            {% endif %}

                            {% if cfg.consumes.size > 0 %}
                            <td> <i data-bs-toggle="tooltip" data-bs-placment="top" 
                                data-bs-html="true" title="Narrows the primary mapping by media types that can be consumed by the mapped handler. Consists of one or more media types one of which must match to the request <code>Content-Type</code> header." class="fas fa-sign-in-alt"></i> <code>{{cfg.consumes}}</code></td>
                            {% endif %}

                            {% if cfg.produces.size > 0 %}
                            <td><i data-bs-toggle="tooltip" data-bs-placment="top" 
                                data-bs-html="true" title="Narrows the primary mapping by media types that can be produced by the mapped handler. Consists of one or more media types one of which must be chosen via content negotiation against the <i>acceptable</i> media types of the request. Typically those are extracted from the <code>Accept</code> header but may be derived from query parameters, or other." class="fas fa-sign-out-alt"></i> <code>{{cfg.produces}}</code></td>
                            {% endif %}
                            {% if cfg.deprecated == true %}
                                <td>
                                    <span class="badge bg-danger">
                                    <i data-bs-toggle="tooltip" data-bs-placment="top" 
                                    data-bs-html="true" title="This endpoint is deprecated and may be removed in future CAS releases."  
                                    class="fas fa-exclamation-circle"></i> Deprecated
                                    </span>
                                </td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td><i data-bs-toggle="tooltip" 
                                data-bs-placment="top" data-bs-html="true" title="Method Signature" 
                                class="fas fa-signature"></i> <code>{{cfg.signature}}</code></td>
                        </tr>
                        <tr>
                            <td><i data-bs-toggle="tooltip" 
                                data-bs-placment="top" data-bs-html="true" title="Endpoint Owner" 
                                class="fas fa-code"></i> <code>{{cfg.owner}}</code></td>
                        </tr>
                    </table>

                    <p>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" 
                                data-bs-target="#{{key}}ModalConfig">Configuration</button>

                        <div class="modal fade" id="{{key}}ModalConfig" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Endpoint Configuration</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ endpointprops | markdownify }}

                                    <script>
                                        setTimeout(function() {
                                            $('#tableThirdPartyProperties{{ randomNumber }} tr').show();
                                        }, 1100);
                                    </script>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="{{key}}CloseButton">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>

                    </p>
                </div>
            </div>

            {% assign showClass = "" %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<br/>




