{% assign min = 1 %}
{% assign max = 999999 %}
{% assign diff = max | minus: min %}

{% assign rbrace = "}" %}
{% assign lbrace = "{" %}

{% assign modules = include.modules | split: "," %}
{% assign excludes = include.excludes | split: "," %}
{% assign properties = include.properties | split: "," %}
{% assign thirdParty = include.thirdParty | split: "," %}
{% assign thirdPartyExactMatch = include.thirdPartyExactMatch | split: "," %}
{% assign thirdPartyStartsWith = include.thirdPartyStartsWith | split: "," %}

{% assign randomNumber = include.properties 
    | default: include.modules 
    | default: include.thirdParty 
    | default: include.thirdPartyStartsWith 
    | default: include.thirdPartyExactMatch
    | remove: "-" 
    | remove: "." 
    | remove: "," 
    | remove: "[]" 
    | truncate: 50, '' %}

<p>The following settings and properties are available from the CAS configuration catalog:</p>

<ul class='nav nav-pills' id="navPillsMenus{{ randomNumber }}">
    <li class='nav-item'>
        <a class='nav-link active' 
            id="linkRequiredProperties{{ randomNumber }}" 
            data-toggle='tab' 
            href='#requiredProperties{{ randomNumber }}'>Required Settings</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' 
            id="linkOptionalProperties{{ randomNumber }}" 
            data-toggle='tab' 
            href='#optionalProperties{{ randomNumber }}'>Optional Settings</a>
    </li>

    <li class='nav-item' id='navSigningEncryptionProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkSigningEncryption{{ randomNumber }}" 
            data-toggle='tab' 
            href='#signingEncryptionProperties{{ randomNumber }}'>Signing & Encryption</a>
    </li>

    <li class='nav-item' id='navRdbmsProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkRdbms{{ randomNumber }}" 
            data-toggle='tab' 
            href='#rdbmsProperties{{ randomNumber }}'>Hibernate & JDBC</a>
    </li>

    <li class='nav-item' id='navEmailProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkEmail{{ randomNumber }}" 
            data-toggle='tab' 
            href='#emailProperties{{ randomNumber }}'>Email Servers</a>
    </li>

    <li class='nav-item' id='navLdapProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkLdap{{ randomNumber }}" 
            data-toggle='tab' 
            href='#ldapProperties{{ randomNumber }}'>LDAP & Active Directory</a>
    </li>

    <li class='nav-item' id='navAuthnPredicateProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkAuthnPredicate{{ randomNumber }}" 
            data-toggle='tab' 
            href='#authnPredicateProperties{{ randomNumber }}'>Authentication</a>
    </li>

    <li class='nav-item' id='navPasswordEncoderProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkPasswordEncoder{{ randomNumber }}" 
            data-toggle='tab' 
            href='#passwordEncoderProperties{{ randomNumber }}'>Password Encoding</a>
    </li>

    <li class='nav-item' id='navPrincipalTransformationProperties{{ randomNumber }}'>
        <a class='nav-link' 
            id="linkPrincipalTransformation{{ randomNumber }}" 
            data-toggle='tab' 
            href='#principalTransformationProperties{{ randomNumber }}'>Principal Transformation</a>
    </li>

    {% if thirdParty.size > 0 or thirdPartyExactMatch.size > 0 or thirdPartyStartsWith.size > 0 %}
    <li class='nav-item'>
        <a class='nav-link' 
            id="linkThirdPartyProperties{{ randomNumber }}"  
            data-toggle='tab' 
            href='#thirdPartyProperties{{ randomNumber }}'>Third Party Settings</a>
    </li>
    {% endif %}

    <li class='nav-item'>
        <a class='nav-link' 
        
            id="linkNotes{{ randomNumber }}"  
            data-toggle='tab' 
            href='#notes{{ randomNumber }}'>Guidelines</a>
    </li>
</ul>

{% assign signingEncryptionEnabled = false %}
{% assign optionalSettingsFound = false %}
{% assign requiredSettingsFound = false %}
{% assign rdbmsSettingsFound = false %}
{% assign emailSettingsFound = false %}
{% assign ldapSettingsFound = false %}
{% assign authnPredicateSettingsFound = false %}
{% assign passwordEncoderSettingsFound = false %}
{% assign principalTransformationSettingsFound = false %}

<div class='tab-content clearfix'>


<div class='tab-pane fade in active show' id='requiredProperties{{ randomNumber }}'>
    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <u><i>Required</i></u> in the CAS configuration metadata. This flag indicates that the presence of the setting is not strictly necessary in the end-user CAS configuration, because a default value may be assigned or the feature in question may not be immediately intended for use. You may want to own the setting and update it assigned value, assuming the intended feature controlled by the setting is utilized.
    </sub>
    <br><p />
    <table class="properties" id='tableRequiredProperties{{ randomNumber }}'>
    <tbody>
        {% for module in modules %}
            {% for cfg in site.data[version][module] %}
                {% assign configBlock = cfg[1] %}

                {% for config in configBlock %}
                    {% if config.required == true %}

                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}

                        {% unless foundExcluded == true %}
                            {% if config.name contains ".crypto" %}
                                {% assign signingEncryptionEnabled = true %}
                            {% endif %}
                            {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                {% assign rdbmsSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".mail" %}
                                {% assign emailSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".ldap" %}
                                {% assign ldapSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".credential-criteria" %}
                                {% assign authnPredicateSettingsFound = true %}
                            {% endif %}

                            {% if config.name contains ".password-encoder" %}
                                {% assign passwordEncoderSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".principal-transformation" %}
                                {% assign principalTransformationSettingsFound = true %}
                            {% endif %}

                            {% assign requiredSettingsFound = true %}
                            {% include casproperty.html 
                                name=config.name 
                                defaultValue=config.defaultValue 
                                description=config.description 
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}


        {% for prop in properties %} 
            {% for module in site.data[version] %}
                {% assign moduleEntry = module[1] %}
                {% for cfg in moduleEntry %}
                    {% assign configBlock = cfg[1] %}

                    {% for config in configBlock %}
                        {% if config.required == true and config.name contains prop %}
                            
                            {% assign foundExcluded = false %}
                            {% for ex in excludes %}
                                {% if config.name contains ex %}
                                    {% assign foundExcluded = true %}
                                {% endif %}
                            {% endfor %}

                            {% unless foundExcluded == true %}
                                {% if config.name contains ".crypto" %}
                                    {% assign signingEncryptionEnabled = true %}
                                {% endif %}
                                {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                    {% assign rdbmsSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".mail" %}
                                    {% assign emailSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".ldap" %}
                                    {% assign ldapSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".credential-criteria" %}
                                    {% assign authnPredicateSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".password-encoder" %}
                                    {% assign passwordEncoderSettingsFound = true %}
                                {% endif %}
                                {% if config.name contains ".principal-transformation" %}
                                    {% assign principalTransformationSettingsFound = true %}
                                {% endif %}


                                {% assign requiredSettingsFound = true %}
                                {% include casproperty.html 
                                    name=config.name 
                                    defaultValue=config.defaultValue 
                                    description=config.description 
                                    deprecationLevel=config.deprecationLevel
                                    deprecationReplacement=config.deprecationReplacement %}
                            {% endunless %}

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
    </table>
</div>

<div class='tab-pane fade in' id='optionalProperties{{ randomNumber }}'>

    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <u><i>Optional</i></u> in the CAS configuration metadata. This flag indicates that the presence of the setting is not immediately necessary in the end-user CAS configuration, because a default value is assigned or the activation of the feature is not conditionally controlled by the setting value.
    </sub>
    <br><p />

    <table class="properties" id='tableOptionalProperties{{ randomNumber }}'>
    <tbody>
        
        {% for module in modules %}
            {% for cfg in site.data[version][module] %}
                {% assign configBlock = cfg[1] %}

                {% for config in configBlock %}
                    {% unless config.required == true %}
                        
                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}

                        {% unless foundExcluded == true %}
                            {% if config.name contains ".crypto" %}
                                {% assign signingEncryptionEnabled = true %}
                            {% endif %}
                            {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                {% assign rdbmsSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".mail" %}
                                {% assign emailSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".ldap" %}
                                {% assign ldapSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".credential-criteria" %}
                                {% assign authnPredicateSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".password-encoder" %}
                                {% assign passwordEncoderSettingsFound = true %}
                            {% endif %}
                            {% if config.name contains ".principal-transformation" %}
                                {% assign principalTransformationSettingsFound = true %}
                            {% endif %}


                            {% assign optionalSettingsFound = true %}
                            {% include casproperty.html 
                                name=config.name 
                                defaultValue=config.defaultValue 
                                description=config.description 
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}
                        {% endunless %}

                    {% endunless %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% for prop in properties %} 
            {% for module in site.data[version] %}
                {% assign moduleEntry = module[1] %}
                {% for cfg in moduleEntry %}
                    {% assign configBlock = cfg[1] %}

                    {% for config in configBlock %}
                            
                        {% if config.name contains prop %}  
                            {% unless config.required == true %}

                                {% assign foundExcluded = false %}  
                                {% for ex in excludes %}
                                    {% if config.name contains ex %}
                                        {% assign foundExcluded = true %}
                                    {% endif %}
                                {% endfor %}
    
                                {% unless foundExcluded == true %}
                                    {% if config.name contains ".crypto" %}
                                        {% assign signingEncryptionEnabled = true %}
                                    {% endif %}

                                    {% if config.name contains ".jpa" or config.name contains ".jdbc" %}
                                        {% assign rdbmsSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".mail" %}
                                        {% assign emailSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".ldap" %}
                                        {% assign ldapSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".credential-criteria" %}
                                        {% assign authnPredicateSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".password-encoder" %}
                                        {% assign passwordEncoderSettingsFound = true %}
                                    {% endif %}
                                    {% if config.name contains ".principal-transformation" %}
                                        {% assign principalTransformationSettingsFound = true %}
                                    {% endif %}
                                    
                                    {% assign optionalSettingsFound = true %}
                                    {% include casproperty.html 
                                        name=config.name 
                                        defaultValue=config.defaultValue 
                                        description=config.description 
                                        deprecationLevel=config.deprecationLevel
                                        deprecationReplacement=config.deprecationReplacement %}
                                {% endunless %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </tbody>
    </table>
</div>


{% if thirdParty.size > 0 or thirdPartyExactMatch.size > 0 or thirdPartyStartsWith.size > 0 %}
<div class='tab-pane fade in' id='thirdPartyProperties{{ randomNumber }}'>
    <i style="vertical-align: sub;" class="fas fa-info-circle"></i>
    <sub>
        The configuration settings listed below are tagged as <i>Third Party</i> in the CAS configuration metadata. This flag indicates that the configuration setting is not controlled, owned or managed by the CAS ecosystem, and affects functionality that is offered by a third-party library, such as Spring Boot or Spring Cloud to CAS. For additional info, you might have to visit the third-party source to find more details.
    </sub>
    <br><p />

    <table class="properties" id='tableThirdPartyProperties{{ randomNumber }}'>
        <tbody>

        {% for cfg in site.data[version]["third-party"] %}
            {% assign configBlock = cfg[1] %}

            {% for config in configBlock %}

                {% for tp in thirdParty %}
                    {% if config.name contains tp %}
                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}
                        {% unless foundExcluded == true %}
                            {% include casproperty.html 
                                name=config.name 
                                defaultValue=config.defaultValue 
                                description=config.description 
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}

                {% for exm in thirdPartyExactMatch %}
                    {% if config.name == exm %}
                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}
                        {% unless foundExcluded == true %}
                            {% include casproperty.html 
                                name=config.name 
                                defaultValue=config.defaultValue 
                                description=config.description 
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}

                {% for exm in thirdPartyStartsWith %}
                    {% assign startsWithResults = config.name | split:exm %}
                
                    {% if startsWithResults[0].size == 0 %}
                        {% assign foundExcluded = false %}
                        {% for ex in excludes %}
                            {% if config.name contains ex %}
                                {% assign foundExcluded = true %}
                            {% endif %}
                        {% endfor %}
                        {% unless foundExcluded == true %}
                            {% include casproperty.html 
                                name=config.name 
                                defaultValue=config.defaultValue 
                                description=config.description 
                                deprecationLevel=config.deprecationLevel
                                deprecationReplacement=config.deprecationReplacement %}
                        {% endunless %}
                    {% endif %}

                {% endfor %}

            {% endfor %}

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if signingEncryptionEnabled == true %}
<div class='tab-pane fade in' id='signingEncryptionProperties{{ randomNumber }}'>
    {% capture signingEncConfig %}{% include {{ version }}/signing-encryption-configuration.md %}{% endcapture %}
    {{ signingEncConfig | markdownify }}
</div>
{% endif %}

{% if rdbmsSettingsFound == true %}
<div class='tab-pane fade in' id='rdbmsProperties{{ randomNumber }}'>
    {% capture rdbmsConfig %}{% include {{ version }}/rdbms-configuration.md %}{% endcapture %}
    {{ rdbmsConfig | markdownify }}
</div>
{% endif %}

{% if emailSettingsFound == true %}
<div class='tab-pane fade in' id='emailProperties{{ randomNumber }}'>
    {% capture emailConfig %}{% include {{ version }}/email-notifications-configuration.md %}{% endcapture %}
    {{ emailConfig | markdownify }}
</div>
{% endif %}

{% if ldapSettingsFound == true %}
<div class='tab-pane fade in' id='ldapProperties{{ randomNumber }}'>
    {% capture ldapConfig %}{% include {{ version }}/ldap-configuration.md %}{% endcapture %}
    {{ ldapConfig | markdownify }}
</div>
{% endif %}


{% if passwordEncoderSettingsFound == true %}
<div class='tab-pane fade in' id='passwordEncoderProperties{{ randomNumber }}'>
    {% capture passwordEncoderConfig %}{% include {{ version }}/password-encoding-configuration.md %}{% endcapture %}
    {{ passwordEncoderConfig | markdownify }}
</div>
{% endif %}

{% if principalTransformationSettingsFound == true %}
<div class='tab-pane fade in' id='principalTransformationProperties{{ randomNumber }}'>
    {% capture principalTransformationConfig %}{% include {{ version }}/principal-transformation-configuration.md %}{% endcapture %}
    {{ principalTransformationConfig | markdownify }}
</div>
{% endif %}


{% if authnPredicateSettingsFound == true %}
<div class="tab-pane fade in" id="authnPredicateProperties{{ randomNumber }}">
    {% capture authnConfig %}{% include {{ version }}/authentication-credential-selection-configuration.md %}{% endcapture %}
    {{ authnConfig | markdownify }} 
</div>
{% endif %}

<div class='tab-pane fade in' id='notes{{ randomNumber }}'>
    {% capture notesConfig %}{% include config-guidelines.md %}{% endcapture %}
    {{ notesConfig | markdownify }} 
</div>


<script type="text/javascript">

    function defer{{ randomNumber }}(toWaitFor, method) {
        if (window[toWaitFor]) {
            method();
        } else {
            setTimeout(function () { defer{{ randomNumber }}(toWaitFor, method) }, 100);
        }
    }

    {% unless signingEncryptionEnabled %}
        elem = document.getElementById("linkSigningEncryption{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless optionalSettingsFound %}
        elem = document.getElementById("linkOptionalProperties{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless rdbmsSettingsFound %}
        elem = document.getElementById("linkRdbms{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless emailSettingsFound %}
        elem = document.getElementById("linkEmail{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless ldapSettingsFound %}
        elem = document.getElementById("linkLdap{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless requiredSettingsFound %}
        elem = document.getElementById("linkRequiredProperties{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless authnPredicateSettingsFound %}
        elem = document.getElementById("linkAuthnPredicate{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless passwordEncoderSettingsFound %}
        elem = document.getElementById("linkPasswordEncoder{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}

    {% unless principalTransformationSettingsFound %}
        elem = document.getElementById("linkPrincipalTransformation{{ randomNumber }}");
        elem.style.display="none";
    {% endunless %}


    defer{{ randomNumber }}('jQuery', () => {
        var elem = null;
        $("#navPillsMenus{{ randomNumber }} a:visible:first").click();
    });
</script>

</div>