<div class="btn-toolbar justify-content-between" role="toolbar">
	<div class="input-group input-group w-75">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"> </i></div>
          </div>
	    <input type="text" id="input{{ include.searchTarget }}" class="form-control" onkeyup="search{{ include.searchTarget  }}(this)" placeholder="Search...">
	</div>
	<div class="btn-group btn-group-sm" role="group">
        <button type="button" data-clipboard-target="{{ include.copyTarget  }}" 
            class="btn btn-sm btn-secondary copy-button" title="Copy"><i class="fas fa-copy"></i>
        </button>    
	</div>
</div>

<script type="text/javascript">
    function search{{ include.searchTarget  }}(input) {
        let filter = input.value.toUpperCase();
        
        $("#{{ include.searchTarget }} li.property-name code").each(function(i) {
            let txtValue = $(this).text();
            let result = txtValue.toUpperCase().indexOf(filter) > -1;
            $(this).parents("td").css("display", result ? "" : "none");
        });
        
    }
</script>