{% assign groups = include.groups | split: "," %}

<p>The following properties are available and recognized by CAS for various modules and features:</p>

<nav id="paginationNav">
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item">
            <a class="page-link" href="javascript:previous('table-properties')" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span> Previous
            </a>
        </li>
        <li class="page-item">
            <a class="page-link active" href="javascript:next('table-properties')">
                Next <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<table class="paginated-table" id="table-properties">
    <thead>
        <tr>
          <th>Name</th>
          <th>Default Value</th>
          <th>Type</th>
          <th>Group</th>
        </tr>
    </thead>
    <tbody>
        {% for cfg in site.data[version]["registered-service-properties"] %}
                {% assign configBlock = cfg[1] %}

                {% for config in configBlock %}

                    {% assign found = false %}
                    {% if groups.size == 0 %}
                        {% assign found = true %}
                    {% endif %}

                    {% for gp in groups %}
                        {% if config.group contains gp %}
                            {% assign found = true %}
                        {% endif %}
                    {% endfor %}

                    {% if found == true %}
                        <tr>
                            <td>
                                <code>{{ config.name }}</code>
                            </td>
                            <td>
                                <code>{{ config.defaultValue }}</code>
                            </td>
                            <td>
                                <code>{{ config.type }}</code>
                            </td>
                            <td>
                                <code>{{ config.group }}</code>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
<script>
    setTimeout(function()
    { 
        next('table-properties'); 
        
        let c = $("#table-properties tbody tr").length;
        if (c <= ROWS) {
            $("#paginationNav").hide();
        }

    }, 500);
</script>

