
<p>The following user interface templates are available and recognized by CAS for various modules and features:</p>

<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item">
            <a class="page-link" href="javascript:previous('table-ui-templates')" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>Previous
            </a>
        </li>
        <li class="page-item">
            <a class="page-link active" href="javascript:next('table-ui-templates')">
                Next <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<table class="paginated-table" id="table-ui-templates">
    <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Full Path</th>
        </tr>
    </thead>
    <tbody>
        {% for cfg in site.data[version]["userinterface-templates"] %}
                {% assign configBlock = cfg[1] %}
                {% for config in configBlock %}

                    {% assign words = config.name | remove: "/src/main/resources/templates/" | split: '/' %}
                    <tr>
                        <td>
                            <code class="text-wrap">{{ words | first }}</code>
                        </td>
                        <td>
                            <code class="text-wrap">{{ words | last }}</code>
                        </td>
                        <td>
                            <code class="text-wrap text-break">{{ config.name }}</code>
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
<script>
    setTimeout(function(){ next('table-ui-templates'); }, 500);
</script>
<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item">
            <a class="page-link" href="javascript:previous('table-ui-templates')" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>Previous
            </a>
        </li>
        <li class="page-item">
            <a class="page-link active" href="javascript:next('table-ui-templates')">
                Next <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
